@font-face {
  font-family: digitalFont;
  src: url(./font/digital-7.regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgrey;
}

.screen {
  width: 20rem;
  margin: auto;
  margin-top: 20rem;
  text-align: center;
}
.time {
  font-family: digitalFont;
  font-size: 4rem;
  color: lime;
}
