@font-face {
  font-family: digitalFont;
  src: url(./font/digital-7.regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgrey;
}

main {
  width: 18rem;
  margin: auto;
  margin-top: 15rem;
  font-family: digitalFont;
  color: lime;
  /* text-align: center; */
}

.screen-1 {
  font-size: 2rem;
  text-align: center;
}

.screen-2 {
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
  border: 2px solid lime;
  padding: 1rem;
  outline: 2px solid lime;
  outline-offset: 0.5rem;
  font-size: 3.5rem;
}
